/*
 * The SCSS variables
 */

/* sidebar */

$sidebar-width: 210px !default;        /* the basic width : 260px */ 
$sidebar-width-small: 160px !default;  /* screen width: >= 850px, <= 1199px (iPad landscape): 210px */
$sidebar-width-large: 300px !default;  /* screen width: >= 1650px: 350px */

/* tabs of sidebar */

$tab-count: 5 !default;   /* backward compatible (version <= 4.0.2) */
$tab-height: 3rem !default;
$tab-cursor-height: 1.6rem !default;

$cursor-width: 2px !default;    /* the cursor width of the selected tab */

/* other framework sizes */

$topbar-height: 3rem !default;

$footer-height: 5rem !default;
$footer-height-mobile: 6rem !default;   /* screen width: <= 576px */

$main-content-max-width: 1050px !default; // 1150px

$panel-max-width: 250px !default; // 300px

$bottom-min-height: 35rem !default;

/* syntax highlight */

$code-font-size: 0.85rem !default;
