/*
  Style for page Category and Tag
*/

.dash {
  margin: 0 0.5rem 0.6rem 0.5rem;
  border-bottom: 2px dotted var(--dash-color);
}

#page-category,
#page-tag {
  ul > li {
    line-height: 1.5rem;
    padding: 0.6rem 0;

    &::before { // dot
      background: #999;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: block;
      content: "";
      position: relative;
      top: 0.6rem;
      margin-right: 0.5rem;
    }

    > a { /* post's title */
      @extend %no-bottom-border;

      font-size: 1.1rem;
    }

    > span:last-child {
      white-space: nowrap;
    } /* post's date */
  }
}

#page-tag h1 > i { // tag icon
  font-size: 1.2rem;
}

#page-category h1 > i {
  font-size: 1.25rem;
}

#page-category,
#page-tag,
#access-lastmod {
  a:hover {
    @extend %link-hover;

    margin-bottom: -1px; // Avoid jumping
  }
}

@media all and (max-width: 576px) {
  #page-category,
  #page-tag {
    ul > li {
      &::before {
        margin: 0 0.5rem;
      }

      > a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// sidebar category custom 
.nav-link span {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
}

.text-category-top {
  color: #424242 !important;  // 예: 선명한 파란색
}
.custom-category-tree {
  font-size: 0.88rem;

  .category-title {
    margin-top: 0.4rem;
    font-weight: 600;
    color: #333;
  }

  .subcategory-list {
    list-style: disc;
    margin-left: 1.1rem;
    padding-left: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }

  li {
    margin: 0.1rem 0;
  }

  a {
    text-decoration: none;
    color: #555;

    &:hover {
      text-decoration: underline;
    }
  }
}
